<a href="https://colab.research.google.com/github/liicuba/gz-dbt-repository/blob/main/Challenge_1_Python_basics_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1: Data Analysis and Manipulation with Pandas
In this exercise, we will be working with two datasets: sales data and customer data. We will use pandas to perform various data analysis and manipulation tasks.

### Part 1: Loading Data
1. Load the sales data using pandas read_csv function and assign it to a variable called sales_data.
2. Load the customer data using pandas read_csv function and assign it to a variable called customer_data.

**Note: Both CSV files are located in the same directory as this Jupyter notebook.**

### Part 2: Data Exploration
In this exercise, we will explore the two datasets that we loaded in Part 1.

- Check the shape of both dataframes. How many rows and columns do they have?

- Print the first 5 rows of both datasets.

- Use the describe method to generate basic summary statistics for the sales_data DataFrame.

- Use the groupby method to calculate the total sales amount and total units sold for each salesperson in the sales_data DataFrame.

- Use the groupby method to calculate the total sales amount and total units sold for each product in the sales_data DataFrame.

- Use the merge method to merge the sales_data and customer_data DataFrames on the salesperson column. How many rows and columns does the resulting DataFrame have?

- Use the groupby method to calculate the total sales amount and total units sold for each customer in the merged DataFrame.

### Part 3: Data Cleaning
In this exercise, we will clean the sales_data dataframe.

- Identify any missing values in the sales_data DataFrame. If there are any, fill them in with appropriate values.

- Identify and remove any duplicates in the sales_data DataFrame.

- Identify any missing values in the customer_data DataFrame. If there are any, fill them in with appropriate values.

- Identify and remove any duplicates in the customer_data DataFrame.

### Part 4: Data Transformation

- Create a new column in the sales_data DataFrame called total_sales that is the product of the units_sold and sales_amount columns.

- Create a new column in the sales_data DataFrame called year that is the year of the date column.

- Create a new DataFrame called sales_by_state that shows the total sales amount and total units sold for each state in the customer_data DataFrame.

- Create a new DataFrame called sales_by_month that shows the total sales amount and total units sold for each month in the sales_data DataFrame.

### Part 5: Data Visualization

- Use the plot method to create a bar chart showing the total sales amount for each salesperson in the sales_data DataFrame.

- Use the plot method to create a bar chart showing the total sales amount for each product in the sales_data DataFrame.

- Use the plot method to create a bar chart showing the total sales amount for each state in the customer_data DataFrame.